<!DOCTYPE html>
<html lang="en">

<head>
    <title>API calidad del aire</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">About</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Monitoring App</h3>
        </div>

        <div class="jumbotron">
            <h1>API indicadores de calidad del aire </h1>
            <p class="lead"></p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Dioxido de Nitrogeno</h4>
                <p>Indicadores de el dioxido de nitrogeno </p>

                <h4>Ozono</h4>
                <p>Indicadores de Ozono</p>

                <h4>PM10</h4>
                <p>Indicadores de material particulado de 10 partes por millon</p>
            </div>

            <div class="col-lg-6">
                <h4>PM25</h4>
                <p>Indicadores de material particulado de 25 partes por millon</p>
                <a href="http://localhost:5000/pm25"><p class="text-muted font-italic bg-grey">http://localhost:5000/pm25</p></a>

                <h4>ICA SO2</h4>
                <p>Indicador de azufre en el aire</p>
            </div>
        </div>
        <footer class="footer">
            <p>&copy; Gabriel bateca 2019</p>
        </footer>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>